p.p-about__link.c-button-bg-left-flow.c-inner
	a(href="#" target="_blank" rel="noopener")
		span.text VIEW MORE
		//- gのstyle:strokeを消す
		<svg class="arrow" viewBox="0 0 28.4 22.9" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke-miterlimit="10" stroke-width=".8"><path d="m27.8 11.4s0 0 0 0l-8.9-10.3v4.3l5.2 6.1-5.2 6.1v4.3l8.9-10.4z"/><path d="m18.5 11.4s0 0 0 0l-8.9-10.3v4.3l5.2 6.1-5.2 6.1v4.3l8.9-10.4z"/><path d="m9.3 11.4s0 0 0 0l-8.9-10.3v4.3l5.2 6.1-5.2 6v4.3z"/></g></svg>