@use "sass:math";
@use "../../Setting/"as s;

.p-about {
	margin: s.vw(s.$spDesign, 30) auto;

	@include s.media(md) {
		//タブレット・pcの時
		margin: 40px auto;
		max-width: 498px;
	}

	&__title {
		text-align: left;
		margin-bottom: 1em;
		font-size: clamp(10px, s.vw(s.$spDesign, 12), 18px);
	}
}